<div class="projects">
  <div class="example-ux skrzappek">
    <!--<h2 class="h2-style"> {{ title1 }} </h2>-->
      <div class="project-container">
        <div class="project-desc project-desc-skrz">
          <p class="p-style"> {{ description1 }} </p>
          <a href="http://qnzkm5.axshare.com/home.html" target="_blank"><button class="view-project"> {{ button1 }} <i class="fa fa-angle-double-right"></i></button></a>
        </div>
        <div class="project-car">
          <div id="car-skrzappek" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#car-skrzappek" data-slide-to="0" class="active"></li>
              <li data-target="#car-skrzappek" data-slide-to="1"></li>
              <li data-target="#car-skrzappek" data-slide-to="2"></li>
              <li data-target="#car-skrzappek" data-slide-to="3"></li>
              <li data-target="#car-skrzappek" data-slide-to="4"></li>
              <li data-target="#car-skrzappek" data-slide-to="5"></li>
              <li data-target="#car-skrzappek" data-slide-to="6"></li>
              <li data-target="#car-skrzappek" data-slide-to="7"></li>
              <li data-target="#car-skrzappek" data-slide-to="8"></li>
              <li data-target="#car-skrzappek" data-slide-to="9"></li>
              <li data-target="#car-skrzappek" data-slide-to="10"></li>
              <li data-target="#car-skrzappek" data-slide-to="11"></li>
              <li data-target="#car-skrzappek" data-slide-to="12"></li>
              <li data-target="#car-skrzappek" data-slide-to="13"></li>
              <li data-target="#car-skrzappek" data-slide-to="14"></li>
              <li data-target="#car-skrzappek" data-slide-to="15"></li>
              <li data-target="#car-skrzappek" data-slide-to="16"></li>
              <li data-target="#car-skrzappek" data-slide-to="17"></li>
              <li data-target="#car-skrzappek" data-slide-to="18"></li>
              <li data-target="#car-skrzappek" data-slide-to="19"></li>
              <li data-target="#car-skrzappek" data-slide-to="20"></li>
              <li data-target="#car-skrzappek" data-slide-to="21"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active skrz-photo1 small"></div>
              <div class="carousel-item skrz-photo2 small"></div>
              <div class="carousel-item skrz-photo3 small"></div>
              <div class="carousel-item skrz-photo4 small"></div>
              <div class="carousel-item skrz-photo5 small"></div>
              <div class="carousel-item skrz-photo6 small"></div>
              <div class="carousel-item skrz-photo7 small"></div>
              <div class="carousel-item skrz-photo8 small"></div>
              <div class="carousel-item skrz-photo9 small"></div>
              <div class="carousel-item skrz-photo10 small"></div>
              <div class="carousel-item skrz-photo11 small"></div>
              <div class="carousel-item skrz-photo12 small"></div>
              <div class="carousel-item skrz-photo13 small"></div>
              <div class="carousel-item skrz-photo14 small"></div>
              <div class="carousel-item skrz-photo15 small"></div>
              <div class="carousel-item skrz-photo16 small"></div>
              <div class="carousel-item skrz-photo17 small"></div>
              <div class="carousel-item skrz-photo18 small"></div>
              <div class="carousel-item skrz-photo19 small"></div>
              <div class="carousel-item skrz-photo20 small"></div>
              <div class="carousel-item skrz-photo21 small"></div>
              <div class="carousel-item skrz-photo22 small"></div>
            </div>
            <a class="carousel-control-prev" href="#car-skrzappek" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#car-skrzappek" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
  </div>

  <div class="example-ux infokioski">
    <!--<h2 class="h2-style"> {{ title2 }} </h2>-->
    <div class="project-container">
      <div class="project-desc project-desc-info">
        <p class="p-style"> {{ description2 }}</p>
        <a href="https://bflods.axshare.com/home.html" target="_blank"><button class="view-project"> {{ button2 }} <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car project-car-info">
        <div class="info-photo"></div>
      </div>
    </div>
  </div>

  <div class="example-ux pkp">
    <!--<h2 class="h2-style"> {{ title3 }} </h2>-->
    <div class="project-container">
      <div class="project-desc project-desc-pkp">
        <p class="p-style"> {{ description3 }} </p>
        <a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwBklSz-m3zmUP0EA" target="_blank"><button class="view-project"> {{ button3 }} <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car project-car-pkp">
        <div id="car-pkp" class="carousel slide pkp" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-pkp" data-slide-to="0" class="active"></li>
            <li data-target="#car-pkp" data-slide-to="1"></li>
            <li data-target="#car-pkp" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner carousel-inner-pkp">
            <div class="carousel-item active pkp-photo1 small"></div>
            <div class="carousel-item pkp-photo2 small"></div>
            <div class="carousel-item pkp-photo3 small"></div>
          </div>
          <a class="carousel-control-prev" href="#car-pkp" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-pkp" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="example-ux escape">
    <!--<h2 class="h2-style"> {{ title4 }} </h2>-->
    <div class="project-container">
      <div class="project-desc project-desc-esc">
        <p class="p-style"> {{ description4 }} </p>
        <a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwBklSz-m3zmUP0EA" target="_blank"><button class="view-project"> {{ button4 }} <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car project-car-esc">
        <div id="car-esc" class="carousel slide esc" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-esc" data-slide-to="0" class="active"></li>
            <li data-target="#car-esc" data-slide-to="1"></li>
            <li data-target="#car-esc" data-slide-to="2"></li>
            <li data-target="#car-esc" data-slide-to="3"></li>
            <li data-target="#car-esc" data-slide-to="4"></li>
            <li data-target="#car-esc" data-slide-to="5"></li>
            <li data-target="#car-esc" data-slide-to="6"></li>
            <!--<li data-target="#car-esc" data-slide-to="7"></li>
            <li data-target="#car-esc" data-slide-to="8"></li>
            <li data-target="#car-esc" data-slide-to="9"></li>
            <li data-target="#car-esc" data-slide-to="10"></li>-->
          </ul>
          <div class="carousel-inner carousel-inner-esc">
            <div class="carousel-item active esc-photo1 small"></div>
            <div class="carousel-item esc-photo2 small"></div>
            <div class="carousel-item esc-photo3 small"></div>
            <div class="carousel-item esc-photo4 small"></div>
            <div class="carousel-item esc-photo5 small"></div>
            <div class="carousel-item esc-photo6 small"></div>
            <div class="carousel-item esc-photo7 small"></div>
            <!--<div class="carousel-item esc-photo8 small"></div>
            <div class="carousel-item esc-photo9 small"></div>
            <div class="carousel-item esc-photo10 small"></div>
            <div class="carousel-item esc-photo11 small"></div>-->
          </div>
          <a class="carousel-control-prev" href="#car-esc" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-esc" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>