<div class="projects">
  <div class="example-ux skrzappek">
    <!--<h2 class="h2-style"> Skrzappek </h2>-->
      <div class="project-container">
        <div class="project-desc">
          <p class="p-style"> "Skrzappek" jest efektem pracy zespołowej w&nbsp;ramach przedmiotu <i>Komunikacja człowiek-komputer</i>. Począwszy od przeprowadzenia badań mających na celu zidentyfikowanie problemów i&nbsp;potrzeb ludzi w&nbsp;związku&nbsp;z&nbsp;tematem robienia prezentów, poprzez intensywne próby znalezienia sposobu na rozwiązanie tych problemów i&nbsp;zaprojektowanie najważniejszych funkcji tworzonego produktu, aż w&nbsp;końcu dzięki przeprowadzonym badaniom na użytkownikach przy pomocy papierowych prototypów - powstał "Skrzappek", czyli aplikacja mająca na celu dostarczanie pomysłów na prezenty dla konkretnych osób. </p>
          <a href="http://qnzkm5.axshare.com" target="_blank"><button class="view-project"> Zobacz Skrzappka <i class="fa fa-angle-double-right"></i></button></a>
        </div>
        <div class="project-car">
          <div id="car-skrzappek" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#car-skrzappek" data-slide-to="0" class="active"></li>
              <li data-target="#car-skrzappek" data-slide-to="1"></li>
              <li data-target="#car-skrzappek" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
              <div class="carousel-item active photo-1 small"></div>
              <div class="carousel-item photo-2 small"></div>
              <div class="carousel-item photo-3 small"></div>
            </div>
            <a class="carousel-control-prev" href="#car-skrzappek" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#car-skrzappek" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
  </div>

  <div class="example-ux infokioski">
    <!--<h2 class="h2-style"> Infokioski dla turystów </h2>-->
    <div class="project-container">
      <div class="project-desc">
        <p class="p-style"> Infokioski dla Turystów (polskich i&nbsp;zagranicznych) to projekt zrealizowany w&nbsp;ramach zajęć <i>Usability</i> na UAM. Interaktywna makieta ma w&nbsp;sprawny i&nbsp;intuicyjny sposób dostarczyć użytkownikom informacji, których najczęściej szukają, będąc w&nbsp;obcym mieście. Gdzie jest adres&nbsp;X? Jak tam dojechać? Czy w&nbsp;pobliżu znajdę jakiś bankomat? Gdzie mogę skorzystać z&nbsp;toalety? A&nbsp;czy jest tam dostępny Internet? Ten infokiosk udzieli odpowiedzi na te pytania, w&nbsp;dodatku jest w&nbsp;stanie zrobić to w&nbsp;kilku wariantach językowych.   </p>
        <a href="https://bflods.axshare.com/home.html" target="_blank"><button class="view-project"> Zobacz Infokiosk <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car">
        <div id="car-infokioski" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-infokioski" data-slide-to="0" class="active"></li>
            <li data-target="#car-infokioski" data-slide-to="1"></li>
            <li data-target="#car-infokioski" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active photo-1 small"></div>
            <div class="carousel-item photo-2 small"></div>
            <div class="carousel-item photo-3 small"></div>
          </div>
          <a class="carousel-control-prev" href="#car-infokioski" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-infokioski" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="example-ux pkp">
    <!--<h2 class="h2-style"> PKP </h2>-->
    <div class="project-container">
      <div class="project-desc">
        <p class="p-style"> Opierając się na wynikach badań, które sugerują, że proces kupowania biletów kolejowych nie należy do najprzyjeniejszych i najłatwiejszych, przeprowadzone zostało badanie potrzeb podróżujących PKP oraz dokonano próby zaproponowania i&nbsp;zaprojektowania rozwiązania na zidentyfikowane problemy. </p>
        <a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwBklSz-m3zmUP0EA" target="_blank"><button class="view-project"> Zobacz Raport <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car">
        <div id="car-pkp" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-pkp" data-slide-to="0" class="active"></li>
            <li data-target="#car-pkp" data-slide-to="1"></li>
            <li data-target="#car-pkp" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active photo-1 small"></div>
            <div class="carousel-item photo-2 small"></div>
            <div class="carousel-item photo-3 small"></div>
          </div>
          <a class="carousel-control-prev" href="#car-pkp" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-pkp" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="example-ux escape">
    <!--<h2 class="h2-style"> Escape your room </h2>-->
    <div class="project-container">
      <div class="project-desc">
        <p class="p-style"> Zajęcia z Projektowania Usług pozwoliły na zmierzenie się z&nbsp;próbą zaprojektowania czegoś innego, niż produkt cyfrowy. Motywem przedownim został temat niedziel wolnych od handlu, a sposród grupu wszystkich potencjalnych interesariuszy jako grupę odbiorców wybrano właścicieli miejsc rozrywkowych i&nbsp;rekreacyjnych. Badanie potrzeb tej grupy ostatecznie zawęziło grupę docelową do właścicieli escape roomów, dla których została przygotowana usługa pod postacią wyniesienia tradycyjnie pojmowanego roomu poza mury lokalu, czyli na przykład do zoo, ogrodu botanicznego czy zamku. </p>
        <a href="href=https://bflods.axshare.com/home.html" target="_blank"><button class="view-project"> Zobacz Projekt <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car">
        <div id="car-escape" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-escape" data-slide-to="0" class="active"></li>
            <li data-target="#car-escape" data-slide-to="1"></li>
            <li data-target="#car-escape" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active photo-1 small"></div>
            <div class="carousel-item photo-2 small"></div>
            <div class="carousel-item photo-3 small"></div>
          </div>
          <a class="carousel-control-prev" href="#car-escape" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-escape" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>