.project-desc {
    padding: 0 5% 0 10%;
}
.project-car {
    padding: 0 10% 0 5%;
}
.photo-1, .photo-2 {
    background-image: url("../../assets/pics/skrz.jpg");
}
.project-car-inner {
    max-width: 80%
}
