<div class="project-container">
	<div id="car-graphics" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#car-graphics" data-slide-to="0" class="active"></li>
		</ul>
		<div class="carousel-inner">

			<div class="carousel-item active">
				<div>
					<h2 class="h2-style"> {{ title }} </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> {{ description }} </p>
							<a href="https://onedrive.live.com/?authkey=%21AOoUSFX0-pJ-Dfw&cid=E159F8D6C368A2DF&id=E159F8D6C368A2DF%2122857&parId=E159F8D6C368A2DF%2122502&o=OneUp" target="_blank"><button class="view-project"> Zobacz Raport <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car project-car-inner photo-1"></div>
					</div>
				</div>
			</div>

		</div>
		<a class="carousel-control-prev" href="#car-graphics" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#car-graphics" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>

