<section class="carousela section-style" id="others">
<h1 class="h-style"> Pozostałe </h1>
			<div id="carouselother" class="carousel slide" data-ride="carousel" data-interval="12000" data-pause="hover">
				<ol class="carousel-indicators">
					<li data-target="#carouselother" data-slide-to="0" class="active"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active example-1">
						<div class="ux-project">
							<h1> Grafika Komputerowa </h1>
							<a href="https://onedrive.live.com/?authkey=%21AOoUSFX0-pJ-Dfw&cid=E159F8D6C368A2DF&id=E159F8D6C368A2DF%2122857&parId=E159F8D6C368A2DF%2122502&o=OneUp" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Plakat konkursowy wykonany w&nbsp;formie grafiki komputerowej, promujący zachowanie bezpieczeństwa i&nbsp;dbanie o&nbsp;swoje zdrowie w&nbsp;miejscu pracy. Motywem przewodnim konkursu była <i>Gra o&nbsp;Tron</i> i&nbsp;ogólnie rozumiany motyw gamerski. </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby obejrzeć projekt </p>
    							</div>
    						</a>
							<img src="../../assets/pics/grafika.png" alt="Grafika Komputerowa">
						</div>
					</div>
				</div>
				<!-- <a class="left carousel-control" href="#carouselother" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span></a>
				<a class="right carousel-control" href="#carouselother" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span></a> -->
			</div>
</section>
