<section class="carousela section-style" id="dev">
<h1 class="h-style"> Projekty programistyczne </h1>
			<div id="carouseldev" class="carousel slide" data-ride="carousel" data-interval="12000" data-pause="hover">
				<ol class="carousel-indicators">
					<li data-target="#carouseldev" data-slide-to="0" class="active"></li>
					<li data-target="#carouseldev" data-slide-to="1"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active example-1">
						<div class="ux-project">
							<h1> Milionerzy dla Kognitywistów </h1>
							<a href="https://github.com/asia111307/millionaire" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Wersja popularnego teleturnieju "Milionerzy", w&nbsp;której pula pytań jest ściśle związana z&nbsp;obszarem studiów kognitywistyczych. Gracz otrzymuje zadanie losowo wybrane z&nbsp;zewnętrznej puli pytań, może skorzystać z&nbsp;trzech kół ratunkowych lub wycofać się w&nbsp;każdym momencie gry. Wynik gracza zostaje zapisywany do zewnętrznego pliku.  </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zobaczyć kod na GitHubie </p>
  								</div>
							</a>
							<img src="../../assets/pics/milionerzy.PNG" alt="Milionerzy dla Kognitywistów" title="Milionerzy dla Kognitywistów">
						</div>
					</div>
					<div class="item example-2">
						<div class="ux-project">
							<h1> Drobne programy </h1>
							<a href="https://github.com/asia111307/programs" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Jest to zbiór drobnych programów napisanych w języku Python, na przykład: <br><br>Gra w Wisielca <br>Zgadywanie liczb <br>Gra w Wojnę<br>Gra w kółki i Krzyżyk </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zobaczyć kod na GitHubie </p>
  								</div>
							</a>
							<img src="../../assets/pics/programy.PNG" alt="Drobne programy" title="Drobne programy">

						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#carouseldev" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span></a>
				<a class="right carousel-control" href="#carouseldev" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span></a>
			</div>
</section>
