.project-desc {
    padding: 0 30px 0 140px;
}
.project-car {
    padding: 0 140px 0 30px;
}
.photo-1, .photo-2, .photo-3, .photo-4 {
    background-image: url("../../assets/pics/skrz.jpg");
}
.project-car-inner {
    max-width: 340px;
}