<div class="project-container">
	<div id="car-research" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#car-research" data-slide-to="0" class="active"></li>
			<li data-target="#car-research" data-slide-to="1"></li>
			<li data-target="#car-research" data-slide-to="3"></li>
			<li data-target="#car-research" data-slide-to="4"></li>

		</ul>
		<div class="carousel-inner">

			<div class="carousel-item active">
				<div>
					<h2 class="h2-style"> {{ currentPack[17] }} </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> {{ currentPack[18] }} </p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt_81_ajiwO-nq6og" target="_blank"><button class="view-project"> Button <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-1 project-car-inner"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div>
					<h2 class="h2-style"> {{ currentPack[20] }} </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> {{ currentPack[21] }} </p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt7j3XTBOolyU3JLg" target="_blank"><button class="view-project"> Button <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-2 project-car-inner"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div>
					<h2 class="h2-style"> {{ currentPack[22] }} </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> {{ currentPack[23]}} </p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt7j3XTBOolyU3JLg" target="_blank"><button class="view-project"> Button <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-3 project-car-inner"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div>
					<h2 class="h2-style"> {{ currentPack[24] }} </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> {{ currentPack[25] }}</p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwAYW0JE7aN3vp-Pg" target="_blank"><button class="view-project"> {{ currentPack[19] }} <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-4 project-car-inner"></div>
					</div>
				</div>
			</div>

		</div>
		<a class="carousel-control-prev" href="#car-research" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#car-research" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>
