<section class="carousela section-style" id="res">
<h1 class="h-style"> Kwestionariusze i badania </h1>
			<div id="carouselkw" class="carousel slide" data-ride="carousel" data-interval="12000" data-pause="hover">
				<ol class="carousel-indicators">
					<li data-target="#carouselkw" data-slide-to="0" class="active"></li>
					<li data-target="#carouselkw" data-slide-to="1"></li>
					<li data-target="#carouselkw" data-slide-to="2"></li>
					<li data-target="#carouselkw" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active example-1">
						<div class="ux-project">
							<h1> Test Predyspozycji Zawodowych na Stanowisko: Koordynator Żałoby </h1>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt_81_ajiwO-nq6og" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Projekt ten został zrealizowany w ramach przedmiotu Psychometria na Wydziale Nauk Społecznych UAM. Jest to mierzący cechy osobowości i predyspozycje zawodowe kwestionariusz, którego ostateczna wersja została zbudowana na podstawie badań pilotażowych i analizy statystycznej. Weryfikacji poddane zostało respektowanie takich zasad konstruowania kwestionariuszy i przeprowadzania badań, jak standaryzacja, rzetelność, trafność czy obiektywność. Do analizy statystycznej wykorzystano program SPSS Statistics. </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zobaczyć gotowy raport zawierający kwestionariusz </p>
  								</div>
							</a>
							<img src="../../assets/pics/kor.jpg" alt="KŻ" title="KŻ">
						</div>
					</div>
					<div class="item example-2">
						<div class="ux-project">
							<h1> Czy optymiści rzeczywiście patrzą na świat przezróżowe okulary?<br>Zależność między stopniem orientacji pozytywnej a kolorystycznymi reprezentacjami wydarzeń </h1>
							<a href="https://1drv.ms/f/s!At-iaMPW-FnhhPwDhlHc-Y44dlogQg" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Badania związane z tym, czy osoby pozytywnie nastawione do świata rzeczywiście postrzegają wydarzenia w innych barwach, zostało przeprowadzone w ramach przedmiotu Praca Empiryczna - Psychologia Pozytywna. Zaproponowaną (i&nbsp;uzasadnioną!) hipotezę sprawdzono empirycznie, przygotowując kwestionariusz mierzący poziom orientacji pozytywnej oraz sprawdzający ocenę wydarzeń poprzez subiektywny wybór kolorów, które się z nimi kojarzą. Badanie zostało przeprowadzone w tradycyjnej wersji papierowej oraz w&nbsp;wersji internetowej. Wyniki okazały się istotnie statystycznie. </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zobaczyć kwestionariusz i przeczytać raport z badań </p>
  								</div>
							</a>
							<img src="../../assets/pics/opti.jpeg" alt="Color optimist" title="Color optimist">

							</div>
					</div>
					<div class="item example-3">
						<div class="ux-project">
							<h1> Czy kolory mają wagi? Analiza wpływu koloru przedmiotu<br> na ocenę jego ciężkości </h1>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt7j3XTBOolyU3JLg" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Ten eksperyment dotyczył sprawdzenia tego, czy przedmioty różniące się minimalnie wagowo mogą zostać ocenione jako lżejsze i cięższe tylko dlatego, że mają określony kolor lub są zestawione z przedmiotem o innym, danym kolorze. Zadaniem osób badanych było ocenienie wagi przedmiotów w dwóch turach: najpierw nie widząc ich, a następnie mając możliwość ich obserwacji. Jest to projekt przeprowdzony w ramach przedmiotu Percepcja na Wydziale Nauk Społecznych.</p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zapoznac się z raportem z badań </p>
  								</div>
							</a>
							<img src="../../assets/pics/per.jpg" alt="Color weight" title="Color weight">

							</div>
					</div>
					<div class="item example-4">
						<div class="ux-project">
							<h1> Test Rozumienia Treści Niedosłownych </h1>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwAYW0JE7aN3vp-Pg" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> W ramach zajęć z Teorii Inteligencji stworzony został internetowy kwestionariusz, którego zadaniem było zbadanie umiejętności ludzi do identyfikacji w komunikatach sarkazmu, ironii, metafor czy innych środków przekazywania treści w&nbsp;sposób niedosłowny. Podobnie, jak w przypadku Testu Predyspozycji Zawodowych, pierwotna wersja testu była podstawą do badań pilotażowych, których wyniki, poddane analizie statystycznej, pozwoliły na wyciągniecie wniosków dotyczącej ostatecznej wersji kwestionariusza. Link do internetowego kwestionariusza znajduje się <a href="https://docs.google.com/forms/d/1TSU6pl2no9Yfk-MgVdmBCCFq8zsaP91ZvHOt_vw-H8E/prefill" target="_blank">tutaj.</a> </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zobaczyć raport z tworzenia kwestionariusza </p>
  								</div>
							</a>
							<img src="../../assets/pics/rtn.PNG" alt="RTN" title="RTN">
						</div>
					</div>

				<a class="left carousel-control" href="#carouselkw" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span></a>
				<a class="right carousel-control" href="#carouselkw" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span></a>
			</div>
      </div>
</section>
