<div class="project-container">
	<div id="car-research" class="carousel slide" data-ride="carousel">
		<ul class="carousel-indicators">
			<li data-target="#car-research" data-slide-to="0" class="active"></li>
			<li data-target="#car-research" data-slide-to="1"></li>
			<li data-target="#car-research" data-slide-to="3"></li>
			<li data-target="#car-research" data-slide-to="4"></li>

		</ul>
		<div class="carousel-inner">

			<div class="carousel-item active">
				<div>
					<h2 class="h2-style"> Test Predyspozycji Zawodowych na Stanowisko: Koordynator Żałoby </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> Projekt ten został zrealizowany w ramach przedmiotu Psychometria na Wydziale Nauk Społecznych UAM. Jest to mierzący cechy osobowości i predyspozycje zawodowe kwestionariusz, którego ostateczna wersja została zbudowana na podstawie badań pilotażowych i analizy statystycznej. Weryfikacji poddane zostało respektowanie takich zasad konstruowania kwestionariuszy i przeprowadzania badań, jak standaryzacja, rzetelność, trafność czy obiektywność. Do analizy statystycznej wykorzystano program SPSS Statistics. </p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt_81_ajiwO-nq6og" target="_blank"><button class="view-project"> Zobacz Raport <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-1 project-car-inner"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div>
					<h2 class="h2-style"> Czy optymiści rzeczywiście patrzą na świat przezróżowe okulary?<br>Zależność między stopniem orientacji pozytywnej a kolorystycznymi reprezentacjami wydarzeń </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> Badania związane z tym, czy osoby pozytywnie nastawione do świata rzeczywiście postrzegają wydarzenia w innych barwach, zostało przeprowadzone w ramach przedmiotu Praca Empiryczna - Psychologia Pozytywna. Zaproponowaną (i&nbsp;uzasadnioną!) hipotezę sprawdzono empirycznie, przygotowując kwestionariusz mierzący poziom orientacji pozytywnej oraz sprawdzający ocenę wydarzeń poprzez subiektywny wybór kolorów, które się z nimi kojarzą. Badanie zostało przeprowadzone w tradycyjnej wersji papierowej oraz w&nbsp;wersji internetowej. Wyniki okazały się istotnie statystycznie. </p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt7j3XTBOolyU3JLg" target="_blank"><button class="view-project"> Zobacz Raport <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-2 project-car-inner"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div>
					<h2 class="h2-style"> Czy kolory mają wagi? Analiza wpływu koloru przedmiotu na ocenę jego ciężkości </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> Ten eksperyment dotyczył sprawdzenia tego, czy przedmioty różniące się minimalnie wagowo mogą zostać ocenione jako lżejsze i cięższe tylko dlatego, że mają określony kolor lub są zestawione z przedmiotem o innym, danym kolorze. Zadaniem osób badanych było ocenienie wagi przedmiotów w dwóch turach: najpierw nie widząc ich, a następnie mając możliwość ich obserwacji. Jest to projekt przeprowdzony w ramach przedmiotu Percepcja na Wydziale Nauk Społecznych.</p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPt7j3XTBOolyU3JLg" target="_blank"><button class="view-project"> Zobacz Raport <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-3 project-car-inner"></div>
					</div>
				</div>
			</div>

			<div class="carousel-item">
				<div>
					<h2 class="h2-style"> Test Rozumienia Treści Niedosłownych </h2>
					<div class="project-container-inner">
						<div class="project-desc">
							<p class="p-style"> W ramach zajęć z Teorii Inteligencji stworzony został internetowy kwestionariusz, którego zadaniem było zbadanie umiejętności ludzi do identyfikacji w komunikatach sarkazmu, ironii, metafor czy innych środków przekazywania treści w&nbsp;sposób niedosłowny. Podobnie, jak w przypadku Testu Predyspozycji Zawodowych, pierwotna wersja testu była podstawą do badań pilotażowych, których wyniki, poddane analizie statystycznej, pozwoliły na wyciągniecie wniosków dotyczącej ostatecznej wersji kwestionariusza. Link do internetowego kwestionariusza znajduje się <a href="https://docs.google.com/forms/d/1TSU6pl2no9Yfk-MgVdmBCCFq8zsaP91ZvHOt_vw-H8E/prefill" target="_blank">tutaj.</a> </p>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwAYW0JE7aN3vp-Pg" target="_blank"><button class="view-project"> Zobacz Raport <i class="fa fa-angle-double-right"></i></button></a>
						</div>
						<div class="project-car photo-4 project-car-inner"></div>
					</div>
				</div>
			</div>

		</div>
		<a class="carousel-control-prev" href="#car-research" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#car-research" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
	</div>
</div>