<section class="carousela section-style" id="ux">
<h1 class="h-style"> Projekty UX </h1>
			<div id="carouselux" class="carousel slide" data-ride="carousel" data-interval="13000" data-pause="hover">
				<ol class="carousel-indicators">
					<li data-target="#carouselux" data-slide-to="0" class="active"></li>
					<li data-target="#carouselux" data-slide-to="1"></li>
					<li data-target="#carouselux" data-slide-to="2"></li>
					<li data-target="#carouselux" data-slide-to="3"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active example-1 skrzappek">
						<div class="ux-project">
							<h1> Skrzappek </h1>
							<a href="http://qnzkm5.axshare.com" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> "Skrzappek" jest efektem pracy zespołowej w&nbsp;ramach przedmiotu <i>Komunikacja człowiek-komputer</i>. Począwszy od przeprowadzenia badań mających na celu zidentyfikowanie problemów i&nbsp;potrzeb ludzi w&nbsp;związku&nbsp;z&nbsp;tematem robienia prezentów, poprzez intensywne próby znalezienia sposobu na rozwiązanie tych problemów i&nbsp;zaprojektowanie najważniejszych funkcji tworzonego produktu, aż w&nbsp;końcu dzięki przeprowadzonym badaniom na użytkownikach przy pomocy papierowych prototypów - powstał "Skrzappek", czyli aplikacja mająca na celu dostarczanie pomysłów na prezenty dla konkretnych osób. </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby obejrzeć projekt </p>
  								</div>
							</a>
							<img src="../../assets/pics/skrz.jpg" alt="Skrzappek" title="Skrzappek">
						</div>
					</div>
					<div class="item example-2">
						<div class="ux-project">
							<h1> Infokioski dla Turystów </h1>
							<a href="https://bflods.axshare.com/home.html" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Infokioski dla Turystów (polskich i&nbsp;zagranicznych) to projekt zrealizowany w&nbsp;ramach zajęć <i>Usability</i> na UAM. Interaktywna makieta ma w&nbsp;sprawny i&nbsp;intuicyjny sposób dostarczyć użytkownikom informacji, których najczęściej szukają, będąc w&nbsp;obcym mieście. Gdzie jest adres&nbsp;X? Jak tam dojechać? Czy w&nbsp;pobliżu znajdę jakiś bankomat? Gdzie mogę skorzystać z&nbsp;toalety? A&nbsp;czy jest tam dostępny Internet? Ten infokiosk udzieli odpowiedzi na te pytania, w&nbsp;dodatku jest w&nbsp;stanie zrobić to w&nbsp;kilku wariantach językowych.   </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby obejrzeć projekt </p>
  								</div>
							</a>
							<img src="../../assets/pics/infokioski.PNG" alt="Infokioski dla Turystów" title="Infokioski dla Turystów">
						</div>
					</div>
					<div class="item active example-3 skrzappek">
						<div class="ux-project">
							<h1> Dlaczego nie lubimy kupowania biletów PKP? </h1>
							<a href="https://1drv.ms/b/s!At-iaMPW-FnhhPwBklSz-m3zmUP0EA" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Opierając się na wynikach badań, które sugerują, że proces kupowania biletów kolejowych nie należy do najprzyjeniejszych i najłatwiejszych, przeprowadzone zostało badanie potrzeb podróżujących PKP oraz dokonano próby zaproponowania i&nbsp;zaprojektowania rozwiązania na zidentyfikowane problemy. </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> Kliknij, aby zobaczyć prezentację z procesu projektowego </p>
  								</div>
							</a>
							<img src="../../assets/pics/tr.jpg" alt="Train" title="Train">
						</div>
					</div>
					<div class="item active example-4 skrzappek">
						<div class="ux-project">
							<h1> Escape Your Room </h1>
							<a href="" target="_blank">
								<div class="ux-layer">
									<div class="caption">
										<p> Zajęcia z Projektowania Usług pozwoliły na zmierzenie się z&nbsp;próbą zaprojektowania czegoś innego, niż produkt cyfrowy. Motywem przedownim został temat niedziel wolnych od handlu, a sposród grupu wszystkich potencjalnych interesariuszy jako grupę odbiorców wybrano właścicieli miejsc rozrywkowych i&nbsp;rekreacyjnych. Badanie potrzeb tej grupy ostatecznie zawęziło grupę docelową do właścicieli escape roomów, dla których została przygotowana usługa pod postacią wyniesienia tradycyjnie pojmowanego roomu poza mury lokalu, czyli na przykład do zoo, ogrodu botanicznego czy zamku. </p>
									</div>
								</div>
								<div class="carousel-caption d-none d-md-block">
    								<p> >> link w przygotowaniu << </p>
  								</div>
							</a>
							<img src="../../assets/pics/esc.jpg" alt="Escape" title="Escape">
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#carouselux" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span></a>
				<a class="right carousel-control" href="#carouselux" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span></a>
			</div>
</section>
