<section class="section-style" id="ux">
<h1 class="h-style"> {{ currentPack[35] }} </h1>
	<div class="region-main">
		<div class="tabs">
			<a class="a-tab"><div class="ux-tab tab1"><p class="p-style"> {{ currentPack[36] }}</p></div></a>
			<a class="a-tab"><div class="ux-tab tab2"><p class="p-style">{{ currentPack[37] }}</p></div></a>
			<a class="a-tab"><div class="ux-tab tab3"><p class="p-style">{{ currentPack[38] }}</p></div></a>
			<a class="a-tab"><div class="ux-tab tab4"><p class="p-style">{{ currentPack[39] }}</p></div></a>
		</div>
		<div class="screen">
			<app-app-ux-screen></app-app-ux-screen>
		</div>
	</div>
</section>
