<section class="section-style" id="ux">
<h1 class="h-style"> Projekty UX </h1>
	<div class="region-main">
		<div class="tabs">
			<a class="a-tab"><div class="ux-tab tab1"><p class="p-style">Skrzappek</p></div></a>
			<a class="a-tab"><div class="ux-tab tab2"><p class="p-style">Infokioski</p></div></a>
			<a class="a-tab"><div class="ux-tab tab3"><p class="p-style">PKP</p></div></a>
			<a class="a-tab"><div class="ux-tab tab4"><p class="p-style">Escape Room</p></div></a>
		</div>
		<div class="screen">
			<app-app-ux-screen></app-app-ux-screen>
		</div>
	</div>
</section>
