.jumbotron {
	width: 100%;
	height: 100vh;
	padding-top: 40vh;
	text-align: center;
	background-image: url("../../assets/pics/color.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.slogan {
	padding-top: 40px;
	width: 45vw;
	height: 44vh;
	float: left;
	background-color: rgba(255, 255, 255, 0.3);
}
.jumbotron .slogan h1 {
	margin: 10px;
	font-size: 50px;
	font-weight: 400;
	color: white;
	padding-top: 12px;
}
.jumbotron button {
    font-size: 25px;
    font-weight: 300;
}
.jumbotron button a {
	color: white;
}
.jumbotron button:hover a {
	color: rgb(76, 76, 75);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .slogan {
		margin-top: 1vh;
		width: 100%;
		height: 300px;
		float: none;
	}
	.jumbotron .slogan h1 {
		font-size: 32px;
	}
}

@media (max-width: 767px) {
  .slogan {
		margin-top: -80px;
		width: 100%;
		height: 280px;
		float: none;
	}
	.jumbotron .slogan h1 {
		font-size: 35px;
	}
}
