<section class="section-style" id="skills">
    <div class="container">
        <h1 class="h-style"> {{ currentPack[28] }} </h1>
        <div class="skills-container">

            <div class="skill-box">
                <h4> {{ currentPack[128] }} </h4>
                <div class="skill-box-container">
                    <div class="skill-box-items">

                        <div class="skill-box-item">
                            <div class="skill-box-item-image python"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[107] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image js"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[110] }} </p>
                            </div>
                        </div>


                        <div class="skill-box-item">
                            <div class="skill-box-item-image html"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[113] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image css"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[114] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image flask"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[121] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image moodle"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[117] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image axure"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[123] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image sl"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[125] }} </p>
                            </div>
                        </div>
                    </div>
                    <p class="p-style skill-box-description skill-box-description-right"> {{ currentPack[143] }} </p>
                </div>

            </div>

            <div class="skill-box">
                <h4> {{ currentPack[129] }} </h4>
                <div class="skill-box-container skill-box-container-reverse">
                    <p class="p-style skill-box-description skill-box-description-left"> {{ currentPack[144] }} </p>
                    <div class="skill-box-items">

                        <div class="skill-box-item">
                            <div class="skill-box-item-image r-lang"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[132] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image sql"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[112] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image angular"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[118] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image wordpress"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[135] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image bootstrap"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[119] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image numpy"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[138] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image scipy"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[139] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image matplotlib"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[140] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image pandas"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[141] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image git"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[115] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image docker"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[131] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image excel"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[134] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image latex"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[136] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image spss"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[126] }} </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="skill-box">
                <h4> {{ currentPack[130] }} </h4>
                <div class="skill-box-container">
                    <div class="skill-box-items">

                        <div class="skill-box-item">
                            <div class="skill-box-item-image php"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[133] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image c-lang"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[111] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image django"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[142] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image jquery"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[120] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image gulp"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[122] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image sass"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[137] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image jira"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[116] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image tableau"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[124] }} </p>
                            </div>
                        </div>

                        <div class="skill-box-item">
                            <div class="skill-box-item-image indesign"></div>
                            <div class="skill-box-item-meta">
                                <p class="skill-meta"> {{ currentPack[127] }} </p>
                            </div>
                        </div>

                    </div>
                    <p class="p-style skill-box-description skill-box-description-right"> {{ currentPack[145] }} </p>
                </div>


            </div>
        </div>
    </div>
</section>
