.skill-box {
    width: 100%;
    /*border: 1px solid lightgrey;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 40px 0;
}
.skills-container, .skill-box-items, .skill-box-item-span, .skill-box-item-meta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.skill-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.skill-box-items {
    width: 65%;
}
.skill-box-description {
    width: 35%;
}
.skill-box-item-meta {
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    margin-top: 10px;
}
.skill-box-item:hover .skill-box-item-meta {
    opacity: 1;
}
/*.skill-box-item:hover {*/
    /*border: 2px solid rgba(45, 134, 229, 0.6);*/
/*}*/
.skill-box-item-photo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-box-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    width: 20%;
    height: auto;
    position: relative;
}
.python {
    background-image: url("../../assets/pics/pyrhon-c.png");
}
.js {
    background-image: url("../../assets/pics/js.png");
}
.c-lang {
    background-image: url("../../assets/pics/c.png");
}
.sql {
    background-image: url("../../assets/pics/sql.png");
}
.html {
    background-image: url("../../assets/pics/html.png");
}
.css {
    background-image: url("../../assets/pics/css.png");
}
.git {
    background-image: url("../../assets/pics/git.png");
}
.jira {
    background-image: url("../../assets/pics/jira.png");
}
.moodle {
    background-image: url("../../assets/pics/moodle.png");
}
.angular {
    background-image: url("../../assets/pics/angular-c.png");
}
.bootstrap {
    background-image: url("../../assets/pics/bootstrap.png");
}
.jquery {
    background-image: url("../../assets/pics/jquery.png");
}
.flask {
    background-image: url("../../assets/pics/flask.png");
}
.gulp {
    background-image: url("../../assets/pics/gulp.png");
}
.axure {
    background-image: url("../../assets/pics/axure.jpg");
}
.tableau {
    background-image: url("../../assets/pics/tableau.png");
}
.sl {
    background-image: url("../../assets/pics/sl.png");
}
.spss {
    background-image: url("../../assets/pics/spss.png");
}
.indesign {
    background-image: url("../../assets/pics/indesign.png");
}
.docker {
    background-image: url("../../assets/pics/docker-c.png");
}
.r-lang {
    background-image: url("../../assets/pics/r.jpg");
}
.php {
    background-image: url("../../assets/pics/php.png");
}
.excel {
    background-image: url("../../assets/pics/excel.png");
}
.wordpress {
    background-image: url("../../assets/pics/wordpress.png");
}
.latex {
     background-image: url("../../assets/pics/latex.png");
}
.sass {
    background-image: url("../../assets/pics/sass.png");
}
.numpy {
    background-image: url("../../assets/pics/numpy.png");
}
.scipy {
    background-image: url("../../assets/pics/scipy.png");
}
.matplotlib {
    background-image: url("../../assets/pics/matplotlib.png");
}
.pandas {
    background-image: url("../../assets/pics/pandas.jpeg");
}
.django {
    background-image: url("../../assets/pics/django.jpg");
}
.skill-box-item-image {
    width: 40px;
    height: 40px;
}
.skill-image {
    background-position: center;
    background-size: cover;
}
.skill-p {
    margin: 0;
}
.skill-meta {
    font-weight: bold;
    font-size: 14px;
}
.skill-box-p {
    margin-left: 5px;
    font-size: 10px;
}

@media (max-width: 1060px) {
    .skill-box, .skill-box-items, .skill-box-description {
        width: 100%;
    }
    .skill-box-item-meta {
        opacity: 1
    }
    .skill-box-container {
        flex-direction: column;
    }
    .skill-box-item {
        width: 50%;
    }
    .skill-box {
        margin: 40px 0;
    }
    .skill-box-container-reverse {
        flex-direction: column-reverse;
    }

}
