.iframe {
    position: relative;
    overflow: hidden;
    max-width: 730px;
    max-height: 1030px;
    min-width: 320px;
    min-height: 1030px;
    margin: 0 auto;
    z-index: -1;
    display: none;
}
.i-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.experience-tree {
    position: relative;
}
.experience-line-div {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.experience-line {
    padding: 1px;
    background-color: darkgray;
    transform: rotate(90deg);
    width: 270px
}
.tree-box {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.tree-box-inner {
    width: 40%;
    height: 170px;
    border: 2px solid rgba(45, 134, 229, 0.6);
    transition: 0.3s;
    padding: 20px 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 0 50px 0;
    display: flex;
}
.tree-box-inner .show {
    display: flex;
}
.tree-box-inner:hover {
    background-color: rgba(45, 134, 229, 0.6);
    border: none;
}
.tree-box-inner:hover + .experience-line-div .experience-line {
    background-color: rgba(45, 134, 229, 0.6);
}
.tree-box-inner:hover p, .tree-box-inner:hover i {
    color: white;
}
.tree-box-left {
    justify-content: flex-start;
    position: relative;
}
.tree-box-inner-left {
    text-align: right;
}
.tree-box-inner-left {
    text-align: right;
}
.tree-box-right {
    justify-content: flex-end;
    position: relative;
}
.tree-box-inner-p {
    width: 100%;
    margin-bottom: 0;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid rgba(45, 134, 229, 0.6);
    position: absolute;
    top: 20px;
    z-index: 2;
}
.circle {
    width: 14px;
    height: 14px;
    background: darkgray;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 7px);
    z-index: 1;
}
.circle-top {
    top: -30px;
}
.circle-down {
    bottom: -30px;
}
.triangle-left {
    transform: rotate(90deg);
    left: 40%;
}
.triangle-right {
    transform: rotate(270deg);
    right: 40%;
}
.curvedarrow {
    position: relative;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-right: 9px solid red;
    transform: rotate(10deg);
}
.curvedarrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 3px solid red;
    border-radius: 20px 0 0 0;
    top: -12px;
    left: -9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
}
.year-label {
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: calc(50% - 100px);
    background-color: white;
    width: 200px;
    padding: 5px 10px;
    top: 10px;
    z-index: 1;
}
.tree-box-fa {
    font-size: 25px;
    position: absolute;
    padding: 25px 20px;
    top: 0;
    color: rgba(45, 134, 229, 0.6)
}
.tree-box-fa-right {
    right: 0;
}
.tree-box-fa-left {
    left: 0;
}
.fa-university {
    color: tan;
}
.fa-briefcase {
    color: #5C3D2E;
}
.fa-graduation-cap {
    color: #3B5998;
}

@media (max-width: 1060px) {
  .iframe {
        min-height: 790px;
        padding-top: 145%;
  }
    .view-cv {
        font-size: 24px;
    }
    .triangle, .triangle-left, .triangle-right, .experience-line-div {
        display: none;
    }
    .tree-box-inner {
        width: 100%;
    }
    .year-label {
        position: unset;
    }
    .tree-box {
        display: block;
    }
}
