<section class="section-style" id="xp">
  <div class="container">
      <!--<div class="curvedarrow"></div>-->
      <h1 class="h-style"> {{ currentPack[9] }} </h1>
      <div class="tree">

          <div class="tree-box tree-box-left">
              <div class="triangle triangle-left"></div>
              <p class="year-label p-big"> 10.2018 </p>
              <div class="tree-box-inner tree-box-inner-left">
                  <i class="fa fa-university tree-box-fa tree-box-fa-left" title="University"></i>
                  <p class="tree-box-inner-p"> {{ currentPack[67] }}
                      <span class="p-big">
                          <br>
                          <b> {{ currentPack[68] }} </b>
                      </span>
                          <span class="p-small">
                          <br>
                          <br> {{ currentPack[70] }}
                          <br> {{ currentPack[73] }}, {{ currentPack[72] }}
                       </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <div class="circle circle-top"></div>
                  <hr class="experience-line">
              </div>
          </div>

          <div class="tree-box tree-box-right">
              <div class="triangle triangle-right"></div>
              <p class="year-label p-big"> od 07.2018 </p>
              <div class="tree-box-inner tree-box-inner-right" >
                  <i class="fa fa-briefcase tree-box-fa tree-box-fa-right" title="Work"></i>
                  <p class="tree-box-inner-p">
                      <span class="p-big">
                          <b> {{ currentPack[74] }} </b>
                      </span>
                      <br> {{ currentPack[76] }}
                      <span class="p-small">
                          <br>
                          <br> {{ currentPack[78] }}
                      </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <hr class="experience-line">
              </div>
          </div>

          <div class="tree-box tree-box-left">
              <div class="triangle triangle-left"></div>
              <p class="year-label p-big"> 07.2018 </p>
              <div class="tree-box-inner tree-box-inner-left">
                  <i class="fa fa-graduation-cap tree-box-fa tree-box-fa-left" title="University"></i>
                  <p class="tree-box-inner-p"> {{ currentPack[83] }}
                      <span class="p-big">
                          <br>
                          <b> {{ currentPack[69] }} </b>
                      </span>
                      <span class="p-small">
                          <br>
                          <br> {{ currentPack[70] }}
                          <br> {{ currentPack[71] }}, {{ currentPack[72] }}
                      </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <hr class="experience-line">
              </div>
          </div>

          <div class="tree-box tree-box-right">
              <div class="triangle triangle-right"></div>
              <p class="year-label p-big"> 01.2018 - 07.2018 </p>
              <div class="tree-box-inner tree-box-inner-right">
                  <i class="fa fa-briefcase tree-box-fa tree-box-fa-right" title="Work"></i>
                  <p class="tree-box-inner-p">
                      <span class="p-big">
                          <b> {{ currentPack[75] }} </b>
                      </span>
                      <br> {{ currentPack[77] }}
                      <span class="p-small">
                          <br>
                          <br> {{ currentPack[79] }}
                      </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <hr class="experience-line">
              </div>
          </div>

          <div class="tree-box tree-box-right">
              <div class="triangle triangle-right"></div>
              <p class="year-label p-big"> 07.2017 - 02.2019 </p>
              <div class="tree-box-inner tree-box-inner-right">
                  <i class="fa fa-briefcase tree-box-fa tree-box-fa-right" title="Work"></i>
                  <p class="tree-box-inner-p">
                      <span class="p-big">
                          <b> {{ currentPack[80] }} </b>
                      </span>
                      <br> {{ currentPack[81] }}
                      <span class="p-small">
                          <br>
                          <br> {{ currentPack[82] }}
                      </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <hr class="experience-line">
              </div>
          </div>

          <div class="tree-box tree-box-left">
              <div class="triangle triangle-left"></div>
              <p class="year-label p-big"> 10.2015 </p>
              <div class="tree-box-inner tree-box-inner-left">
                  <i class="fa fa-university tree-box-fa tree-box-fa-left" title="University"></i>
                  <p class="tree-box-inner-p"> {{ currentPack[66] }}
                      <span class="p-big">
                          <br>
                          <b> {{ currentPack[69] }} </b>
                      </span>
                      <span class="p-small">
                          <br>
                          <br> {{ currentPack[70] }}
                          <br> {{ currentPack[71] }}, {{ currentPack[72] }}
                      </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <hr class="experience-line">
              </div>
          </div>

          <div class="tree-box tree-box-left">
              <div class="triangle triangle-left"></div>
              <p class="year-label p-big"> 05.2015 </p>
              <div class="tree-box-inner tree-box-inner-left">
                  <i class="fa fa-graduation-cap tree-box-fa tree-box-fa-left" title="Secondary School"></i>
                  <p class="tree-box-inner-p"> {{ currentPack[85] }}
                      <br>
                      <span class="p-big">
                           <b> {{ currentPack[86] }} </b>
                       </span>
                  </p>
              </div>
              <div class="experience-line-div">
                  <hr class="experience-line">
                  <div class="circle circle-down"></div>
              </div>
          </div>
       </div>
  </div>

</section>



