.experience-tree {
    position: relative;
}
.tree-box {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.tree-box-left {
    justify-content: flex-start;
    position: relative;
}
.tree-box-right {
    justify-content: flex-end;
    position: relative;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid rgba(45, 134, 229, 0.6);
    position: absolute;
    top: 20px;
    z-index: 2;
    transition: all 0.5s;
    transition-delay: 0.3s;
}
.triangle-left {
    transform: rotate(90deg);
    left: 40%;
}
.triangle-right {
    transform: rotate(270deg);
    right: 40%;
}
.year-label {
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: calc(50% - 100px);
    background-color: white;
    width: 200px;
    padding: 5px 10px;
    top: 10px;
    z-index: 1;
}
.tree-box-inner {
    width: 40%;
    min-height: 170px;
    border: 2px solid rgba(45, 134, 229, 0.6);
    padding: 20px 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 0 50px 0;
    display: flex;
    opacity: 0;
}
.tree-box-inner-left {
    left: -500px;
    transition: left 1s, background-color 0.3s, opacity 1s;
    text-align: right;
}
.tree-box-inner-right {
    right: -500px;
    transition: right 1s, background-color 0.3s, opacity 1s;
}
.tree-box-inner:hover {
    background-color: rgba(45, 134, 229, 0.6);
    border-color: transparent;
    box-shadow: 5px 5px 5px lightgrey;

}
.tree-box-inner:hover + .experience-line-div .experience-line {
    background-color: rgba(45, 134, 229, 0.6);
}
.tree-box-inner:hover .tree-box-inner-p, .tree-box-inner:hover .tree-box-fa {
    color: white;
}
.tree-box-fa {
    font-size: 25px;
    position: absolute;
    padding: 25px 20px;
    top: 0;
    color: rgba(45, 134, 229, 0.6)
}
.tree-box-fa-right {
    right: 0;
}
.tree-box-fa-left {
    left: 0;
}
.fa-university {
    color: tan;
}
.fa-briefcase {
    color: #5C3D2E;
}
.fa-graduation-cap {
    color: #3B5998;
}
.tree-box-inner-p {
    width: 100%;
    margin-bottom: 0;
}
.experience-line-div {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.circle {
    width: 14px;
    height: 14px;
    background: darkgray;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 7px);
    z-index: 1;
}
.circle-top {
    top: -30px;
}
.circle-down {
    bottom: -30px;
}
.experience-line {
    padding: 1px;
    background-color: darkgray;
    transform: rotate(90deg);
    width: 270px
}
/*.curvedarrow {*/
    /*position: relative;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 9px solid transparent;*/
    /*border-right: 9px solid red;*/
    /*transform: rotate(10deg);*/
/*}*/
/*.curvedarrow:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*border: 0 solid transparent;*/
    /*border-top: 3px solid red;*/
    /*border-radius: 20px 0 0 0;*/
    /*top: -12px;*/
    /*left: -9px;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*transform: rotate(45deg);*/
/*}*/

@media (max-width: 1060px) {
    .tree-box {
        display: block;
        position: relative;
    }
    .triangle, .triangle-left, .triangle-right, .experience-line-div {
        display: none;
    }
    .year-label {
        position: unset;
        margin-bottom: 0;
        text-align: left;
        margin-left: 30px;
        width: 100%;
    }
    .tree-box-inner {
        width: 100%;
        position: initial;
        opacity: 1;
        left: 0;
        right: 0;
        box-shadow: 5px 5px 5px lightgrey;
        border: 1px solid lightgrey;
    }
    .tree-box-fa {
        padding: 5px;
    }
    .tree-box-fa-right {
        right: initial;
        left: 0;
    }
    .tree-box-inner-p {
        text-align: left;
    }
}

