.navigation {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	position: fixed;
	top:0;
	z-index: 10;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hamburger-item {
	display: none;
	align-items: center;
	justify-content: center;
}
#nav-icon1 {
	width: 30px;
	height: 30px;
	position: relative;
	align-self: flex-end;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;;
	overflow: hidden;
	margin: auto;
}

#nav-icon1 span {
	display: block;
	position: absolute;
	height: 4px;
	background: rgba(45, 134, 229, 0.6);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .3s ease-in-out;
}

#nav-icon1:hover span, #nav-icon1:hover span:nth-child(1), #nav-icon1:hover span:nth-child(2), #nav-icon1:hover span:nth-child(3) {
	width: 100%;
}
#nav-icon1 span:nth-child(1) {
	top: 0;
	width: 65%;
}
#nav-icon1 span:nth-child(2) {
	top: 10px;
	width: 48%;
}
#nav-icon1 span:nth-child(3) {
	top: 20px;
	width: 90%;
}
#nav-icon1.open span {
	width: 100%;
}
#nav-icon1.open span:nth-child(1) {
	top: 10px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}
#nav-icon1.open span:nth-child(3) {
	top: 10px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.nav-hidden {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.nav-meta {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 10%;
	margin-left: 50px;
}
.nav-meta-item {
	width: 20px;
	height: 20px;
	margin: 1%;
	background-size: cover;
	opacity: 0.8;
	cursor: pointer;
}
.home {
	background-image: url("../../assets/pics/home.png");
}
.lang-to-eng {
	background-image: url("../../assets/pics/eng.png");
}
.lang-to-pl {
	background-image: url("../../assets/pics/pl.png");
}
.nav-inner {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.nav-element-a {
	color: grey;
	text-decoration: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-element-a:link, .nav-element-a:visited, .nav-element-a:active {
	text-decoration: none;
}
.nav-element {
	line-height: 50px;
	height: 50px;
	width: auto;
	min-width: 200px;
	transition: 0.3s;
	font-weight: 400;
	text-align: center;
	font-size: 18px;
}
.nav-element:hover {
	cursor: pointer;
	color: rgb(45, 134, 229)!important;
}

@media (max-width: 1060px) {
	.navigation {
		width: 100%;
		display: block;
		background-color: rgba(255, 255, 255, 1);
	}
	.hamburger-item {
		display: flex;
		padding: 10px 0;
	}
	.nav-hidden {
		flex-direction: column;
		height: 75vh;
	}
	.nav-meta {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 100%;
		margin: 20px 0;
	}
	.nav-meta-item {
		height: 30px;
		width: 30px;
	}
	.nav-inner {
		flex-direction: column;
		width: 100%;
		justify-content: flex-start;
	}
	.nav-element-a {
		width: 100%;
	}
	.nav-element {
		display: block;
		width: 100%;
		height: auto;
		text-align: left;
		padding: 0 20px;
		line-height: 25px;
		margin: 20px 0;
	}
	.nav-element:hover {
		border-bottom: none;
	}
}

