<nav class="navigation" id="#nav">
	<div class="hamburger-item">
		<div id="nav-icon1" class="start">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
    <div class="nav-hidden">
	    <div class="nav-meta">
		    <a class="nav-element-a" routerLink="/" [ngx-scroll-to]="'#site-top'">
				<div class="home"></div>
			</a>
		    <a class="nav-element-a lang-switch-to-eng" (click)="changeLangToENG()">
				<div class="lang-to-eng"></div>
			</a>
		    <a  class="nav-element-a lang-switch-to-pl" (click)="changeLangToPL()">
				<div class="lang-to-pl"></div>
			</a>
	    </div>
        <div class="nav-inner">
            <a class="nav-element-a" [ngx-scroll-to]="'#aboutme'">
				<p class="nav-element p-style p-small"> {{ currentPack[30] }} </p>
			</a>
			<a class="nav-element-a" [ngx-scroll-to]="'#skills'">
				<p class="nav-element p-style p-small"> {{ currentPack[28] }} </p>
			</a>
			<a class="nav-element-a" [ngx-scroll-to]="'#xp'">
				<p class="nav-element p-style p-small"> {{ currentPack[9] }} </p>
			</a>
            <a class="nav-element-a" [ngx-scroll-to]="'#projects'">
				<p class="nav-element p-style p-small"> {{ currentPack[31] }} </p>
			</a>
            <a class="nav-element-a" [ngx-scroll-to]="'#footer'">
				<p class="nav-element p-style p-small"> {{ currentPack[34] }} </p>
			</a>
        </div>
    </div>
</nav>
