.navigation {
	width: 100%;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.7);
	position: fixed;
	top:0;
	z-index: 1;
}
nav a:link, nav a:visited, nav a:active {
	text-decoration: none;
	color: grey;
}

nav {
	z-index: 1;
	text-align: center;
	position: fixed;
  	top:0;
	width: 95%;
	margin: 0 2.5% 0 2.5%;
	border-bottom: 1px lightgrey solid;
}
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: right;

}
nav li {
	display: inline-block;
	line-height: 50px;
	height: 50px;
	width: 	200px;
	transition: 0.2s;
	font-weight: 400;
	font-size: 20px;
}
nav a {
	color: grey;
	text-decoration: none;
	padding: 0;
}
nav li:hover, nav ul ul li:hover, nav li:hover a  {
	/*background: #FAF5F0;*/
	cursor: pointer;
	color: rgb(45, 134, 229);
}
nav ul ul {
	display: none;
	position: absolute;
}
nav ul ul li {
	display: block;
	background-color: rgba(255, 255, 255, 0.8);
	transition: 0.3s;
	color: grey;
}
nav ul ul li a {
	color: grey;
}
nav li:hover ul {
	display: block;
}

.home {
	float: left;
	width: 30px;
	height: 30px;
	margin: 10px 10px 0 10px;
	background-image: url("../../assets/pics/home.png");
	background-size: cover;
	opacity: 0.8;
}
.lang-to-pl, .lang-to-eng  {
	float: left;
	width: 30px;
	height: 30px;
	margin: 10px ;
	background-size: cover;
	opacity: 0.8;
}
.lang-to-eng {
	background-image: url("../../assets/pics/eng.png");
}
.lang-to-pl {
	background-image: url("../../assets/pics/pl.png");
}

@media (min-width: 768px) and (max-width: 1199px) {
   nav {
   	font-size: 17px;
   }
}

@media (max-width: 767px) {
	.navigation {
		width: 100%;
		height: 150px;
	}

	nav, .navigation {
    	position: static;
    }
    nav ul {
		float: none;
	}
	nav li {
		display: block;
		width: 100%;
		font-size: 1.9rem;
	}
	nav ul ul {
		width: 60%;
		position: relative;
		margin-left: 40%;
		opacity: 0.9;
	}
	nav ul ul li {
    	width: 100%;
    	margin: 0 auto;
    }
}
