<nav class="navigation" id="#nav">
	<div class="hamburger-item">
		<div id="nav-icon1" class="start">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
    <div class="nav-hidden">
	    <div class="nav-meta">
		    <a routerLink="/" [ngx-scroll-to]="'#site-top'">
				<div class="home"></div>
			</a>
		    <a class="lang-switch-to-eng" (click)="changeLangToENG()">
				<div class="lang-to-eng"></div>
			</a>
		    <a class="lang-switch-to-pl" (click)="changeLangToPL()">
				<div class="lang-to-pl"></div>
			</a>
	    </div>
        <ul>
            <a [ngx-scroll-to]="'#aboutme'">
				<li> {{ currentPack[30] }} </li>
			</a>
			<a [ngx-scroll-to]="'#skills'">
				<li> {{ currentPack[28] }} </li>
			</a>
			<a [ngx-scroll-to]="'#xp'">
				<li> {{ currentPack[9] }} </li>
			</a>
            <a [ngx-scroll-to]="'#projects'">
				<li> {{ currentPack[31] }} </li>
			</a>
            <a [ngx-scroll-to]="'#footer'">
				<li> {{ currentPack[34] }} </li>
			</a>
        </ul>
    </div>
</nav>
