<nav class="navigation" id="#nav">
	<div class="hamburger-item">
		<div id="nav-icon1" class="start">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
    <div class="nav-hidden">
	    <div class="nav-meta">
		    <a class="lang-switch-to-eng" (click)="changeLangToENG()">
				<div class="nav-meta-item lang-to-eng"></div>
			</a>
		    <a  class="lang-switch-to-pl" (click)="changeLangToPL()">
				<div class="nav-meta-item lang-to-pl"></div>
			</a>
	    </div>
        <div class="nav-inner">
            <a class="nav-element-a" [ngx-scroll-to]="'#aboutme'" id="aboutme-a">
				<p class="nav-element p-style p-small"> {{ currentPack[30] }} </p>
			</a>
			<a class="nav-element-a" [ngx-scroll-to]="'#skills'" id="skills-a">
				<p class="nav-element p-style p-small"> {{ currentPack[28] }} </p>
			</a>
			<a class="nav-element-a" [ngx-scroll-to]="'#xp'" id="xp-a">
				<p class="nav-element p-style p-small"> {{ currentPack[9] }} </p>
			</a>
            <a class="nav-element-a" [ngx-scroll-to]="'#projects'" id="projects-a">
				<p class="nav-element p-style p-small"> {{ currentPack[31] }} </p>
			</a>
            <a class="nav-element-a" [ngx-scroll-to]="'#footer'" id="footer-a">
				<p class="nav-element p-style p-small"> {{ currentPack[34] }} </p>
			</a>
        </div>
    </div>
</nav>
