#aboutme {
	background-color: #ffffff;
}
.about-inner {
	display: flex;
	justify-content: center;
}
.about-text {
	width: 70%;
}
.about-img {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}
.img {
	height:300px;
	width: 300px;
	background-image: url("../../assets/pics/photo.png");
	background-size: cover;
}

@media (max-width: 1060px) {
	.about-inner {
		flex-direction: column;
	}
	.about-text, .about-img {
		width: 100%;
	}
}

