<section class="about section-style" id="aboutme">
  <div class="container">
				<div class="row ">
					<div class="col-8 col-m-12 col-s-12 ">
						<!--<span class="lang-pl"><h1 class="h-style"> Cześć! Z tej strony Asia. </h1></span>
						<span class="lang-eng"><h1 class="h-style"> Hello there! </h1></span>-->
						<h1>{{ header }}</h1>
						<h2>{{ description }}</h2>
						<p class="p-style"> Jestem obecnie studentką trzeciego roku kognitywistyki na Wydziale Nauk Społecznych Uniwersytetu im. Adama Mickiewicza w&nbsp;Poznaniu. Po ukończeniu studiów chciałabym podjąć pracę i&nbsp;rozwijać się w&nbsp;branży IT. Najbardziej interesuje mnie obszar User&nbsp;Experience, jednak nie chciałabym ograniczać swojej samorealizacji tylko do działań w&nbsp;UX. Swój czas poświęcam także na programowanie - uczę się zarówno technologii front-endowych (związanych z&nbsp;HTML, CSS, JavaScript), jak i&nbsp;rozwijam umiejętności back-endowe (póki co na razie tylko w&nbsp;Pythonie). Z&nbsp;racji tego, że dobrze czuję się także z&nbsp;matematyką i&nbsp;statystyką, planuję podjąć studia magisterskie na kierunku związanym z&nbsp;Data Science.
						<br>
						<br>
						Poza studiami pracuję w trybie weekendowym oraz nieregularnie w tygodniu. W&nbsp;ostatnim czasie w&nbsp;wolnych chwilach staram się jak najwięcej czasu poświęcić na zgłębianie wiedzy o&nbsp;User&nbsp;Experience i&nbsp;Usability, które są tematem mojej pracy licencjackiej (Percepcja w&nbsp;kontekście użytkownika). Zdobyte w&nbsp;ten sposób podstawy teoretyczne zamierzam wykorzystać w&nbsp;praktyce poprzez przykładne tworzenie projektów w&nbsp;ramach zajęć na uczelni, udział w&nbsp;grupowych kursach i&nbsp;projektach online, szukanie własnych pomysłów na badania i&nbsp;poprawę doświadczeń użytkowników oraz, mam nadzieję, poprzez odbycie zawodowych praktyk. </p>
					</div>
					<div class="col-4 col-m-12 col-s-12">
						<img src="./../assets/pics/photo.jpg">
					</div>
				</div>
  </div>
</section>
<app-school></app-school>
<app-experience></app-experience>
<app-skills></app-skills>
