.about-inner {
	display: flex;
	justify-content: center;
}
.about-text {
	width: 60%;
}
.about-img {
	width: 40%;
	display: flex;
	justify-content: center;
}
.img {
	height:300px;
	width: 300px;
	background-image: url("../../assets/pics/photo.jpg");
	background-size: cover;
}

@media (max-width: 1060px) {
	.about-inner {
		flex-direction: column;
	}
	.about-text, .about-img {
		width: 100%;
	}
}

