.about {
	margin-bottom: 5%;
}
.about .img {
	height: 50%;
	border-radius: 3%;
	margin-left: 10%;
	margin-top: 30%;
	background-image: url("../../assets/pics/photo.jpg");
	background-size: cover;
}


@media (min-width: 768px) and (max-width: 1199px) {
	.about {
		font-size: 1.3rem;
	}
}
@media (max-width: 767px) {
	.about {
		font-size: 1.1rem;
	}
}
