<div class="projects">
  <div class="example-dev milionerzy">
    <!--<h2 class="h2-style"> {{ currentPack[3] }} </h2>-->
    <div class="project-container">
      <div class="project-desc">
        <p class="p-style">  <br><br> {{ currentPack[5] }} </p>
        <a href="https://asia111307.github.io/millionaire_1.0/start" target="_blank"><button class="view-project"> {{ currentPack[6] }} <i class="fa fa-angle-double-right"></i></button></a>
        <button type="button" class="view-game view-project">{{ currentPack[47] }} <i class="fa fa-angle-double-right"></i></button>
        <div class="millionaire">
          <p class="p-style"> <br><br> {{ currentPack[48] }} <br><br></p>
          <iframe height="600px" width="100%" src="https://repl.it/@asia111307/millionaire?lite=true&outputonly=1" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="example-dev programy">
    <!--<h2 class="h2-style"> {{ currentPack[4] }} </h2>-->
    <div class="project-desc-p-p">
      <p class="p-style"> <br><br> {{ currentPack[7] }} </p>
    </div>
    <div class="project-container">
      <div class="project-desc project-desc-p">
        <div class="buttons">
          <button type="button" class="view-game view-game-p p1 view-project">{{ currentPack[49] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p2 view-project">{{ currentPack[50] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p3 view-project">{{ currentPack[51] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p4 view-project">{{ currentPack[52] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p5 view-project">{{ currentPack[53] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p6 view-project">{{ currentPack[54] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p7 view-project">{{ currentPack[55] }} <i class="fa fa-angle-double-right"></i></button>
          <button type="button" class="view-game view-game-p p8 view-project">{{ currentPack[56] }} <i class="fa fa-angle-double-right"></i></button>
        </div>
      </div>
      <div class="project-car project-car-p">
        <div class="view-game-programs">
          <p id='ter_p_description' class="p-style"></p>
          <iframe id='programs_ter' height="800px" width="100%" src="https://repl.it/@asia111307/millionaire?lite=true&outputonly=1" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
