<div class="projects">
  <div class="example-dev milionerzy">
    <!--<h2 class="h2-style"> {{ maintitle1 }} </h2>-->
    <div class="project-container">
      <div class="project-desc">
        <p class="p-style">  {{ description1 }} </p>
        <a href="https://github.com/asia111307/millionaire" target="_blank"><button class="view-project"> {{ button1 }} <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car">
        <div id="car-skrzappek" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-skrzappek" data-slide-to="0" class="active"></li>
            <li data-target="#car-skrzappek" data-slide-to="1"></li>
            <li data-target="#car-skrzappek" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active photo-1 small"></div>
            <div class="carousel-item photo-2 small"></div>
            <div class="carousel-item photo-3 small"></div>
          </div>
          <a class="carousel-control-prev" href="#car-skrzappek" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-skrzappek" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="example-dev programy">
    <!--<h2 class="h2-style"> {{ maintitle2 }} </h2>-->
    <div class="project-container">
      <div class="project-desc">
        <p class="p-style"> {{ description2 }} </p>
        <a href="https://bflods.axshare.com/home.html" target="_blank"><button class="view-project"> {{ button2 }} <i class="fa fa-angle-double-right"></i></button></a>
      </div>
      <div class="project-car">
        <div id="car-infokioski" class="carousel slide" data-ride="carousel">
          <ul class="carousel-indicators">
            <li data-target="#car-infokioski" data-slide-to="0" class="active"></li>
            <li data-target="#car-infokioski" data-slide-to="1"></li>
            <li data-target="#car-infokioski" data-slide-to="2"></li>
          </ul>
          <div class="carousel-inner">
            <div class="carousel-item active photo-1 small"></div>
            <div class="carousel-item photo-2 small"></div>
            <div class="carousel-item photo-3 small"></div>
          </div>
          <a class="carousel-control-prev" href="#car-infokioski" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#car-infokioski" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>