<section class="section-style" id="others">
    <h1 class="h-style"> {{ currentPack[15] }} </h1>
    <div class="region-main">
        <div class="tabs">
            <a class="a-tab"><div class="others-tab tab1"><p class="p-style"> {{ currentPack[12] }}</p></div></a>
            <a class="a-tab"><div class="others-tab tab2"><p class="p-style"> {{ currentPack[16] }}</p></div></a>
        </div>
        <div class="screen">
            <app-others-screen></app-others-screen>
        </div>
    </div>
</section>
