<footer id="footer" #footer>
	<div class="info">
		<div class="footer-info-item phone">
			<i class="fa fa-mobile footer-icon"></i>
			<p class="pclass"> +48 665 541 778 </p>
		</div>
		<div class="footer-info-item email">
			<i class="fa fa-at footer-icon"></i>
			<p class="pclass"> paliwodaj13@gmail.com </p>
		</div>
		<div class="footer-info-item location">
			<i class="fa fa-map-marker footer-icon"></i>
			<p class="pclass"> Poznań, {{ currentPack[97] }} </p>
		</div>
	</div>
	<div class="copyright">
		<p class="pclass"> Copyrights 2019, Joanna Paliwoda
			<span class="github-span">
				<a href="https://github.com/asia111307/portfolio" target="_blank" title="{{  currentPack[88] }}" class="github-button">
					<button class="github-btn">
						<i class="fa fa-github"></i>
					</button>
				</a>
			</span>
		</p>
	</div>
</footer>
