.social {
	margin: 0;
	text-align: center;
	box-sizing: content-box;
	padding-left: -10px;
}
.social h2 {
	color: #505050;
	font-size: 22px;
}
.icon-btn {
	height: 50px;
	width: 50px;
	border: 0;
	color: #FFFFFF;
	border-radius: 50%;
	margin: 10px;
	cursor: pointer;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
}
.facebook {
	color: #3B5998;
}
.instagram {
	color: #5C3D2E;
}
.github {
	color: #4183C4;
}
.linkedin {
	color: #007BB6;
}
.icon-btn:hover {
	transform: scale(1.10);
	color: #FFFFFF;
}
.facebook:hover {
	background-color: #3B5998;
}
.instagram:hover {
	background-color: #5C3D2E;
}
.github:hover {
	background-color: #4183C4;
}
.linkedin:hover {
	background-color: #007BB6
}
.social button:hover {
	color: white;
	transform: scale(1.1);
}
/* FOOTER */
footer {
	background-color: #313332;
	color: white;
	padding-bottom: 0;
	text-align: center;
}
footer h1 {
	font-size: 18px;
	font-weight: 400;
}
footer p {
	font-size: 16px;
	margin: 5px;
}
footer .copyright {
	text-align: center;
	font-size: 12px;
	background-color: #252726;
	padding: 0;
}
footer .text-to-left {
	text-align: left;
}
footer .pclass {
	font-size: 16px;
	font-weight: 400;
}
footer a {
	color: white;
}
footer .contacts {
	margin-top: 40px;
}


@media (min-width: 768px) and (max-width: 1199px) {
	footer p, footer .pclass {
		font-size: 1.2em;
	}
	footer h1 {
		font-size: 1.6em;
	}
	.icon-btn {
		font-size: 35px;
	}
	.social button {
		width: 60px;
		height: 60px;
		margin: 27px 7px;
	}
}

@media (max-width: 767px) {
	footer p, footer .pclass {
		font-size: 1.2em;
	}
	footer h1 {
		font-size: 1.6em;
	}
	.social button {
		width: 55px;
		height: 55px;
		margin: 27px 7px;
	}
	.icon-btn {
		font-size: 33px;
	}
}
