<footer id="footer">
	<div class="footer-container">
		<div class="info">
			<div class="phone">
				<div class="phone-icon"></div>
				<div><p class="pclass">0 665 541 778</p></div>
			</div>
			<div class="email">
				<div class="email-icon"></div>
				<div><p class="pclass"> aspal13@interia.pl</p></div>
			</div>
		</div>
		<div class="social">
				  <a href="https://www.facebook.com/asia.paliwoda" target="_blank" title="Facebook"><button class="icon-btn facebook"><i class="fa fa-facebook"></i></button></a>
				  <a href="https://www.instagram.com/asia_paliwoda/" target="_blank" title="Instagram"><button class="icon-btn instagram"><i class="fa fa-instagram"></i></button></a>
				  <a href="https://github.com/asia111307" target="_blank" title="GitHub"><button class="icon-btn github"><i class="fa fa-github"></i></button></a>
				  <a href="https://www.linkedin.com/in/joanna-paliwoda-04644a153/" target="_blank" title="LinkedIn"><button class="icon-btn linkedin"><i class="fa fa-linkedin"></i></button></a>
		</div>
	</div>
	<div class="col-12 copyright">
		<p class="pclass"> Copyrights 2018, Joanna Paliwoda </p>
	</div>
</footer>
