footer {
	background-color: #313332;
	color: white;
	text-align: center;
	display: block;
}
.info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	padding: 30px 50px;
}
.footer-info-item {
	display: flex;
	align-content: center;
	align-items: center;
	padding: 10px 30px;
}
.footer-icon {
	font-size: 25px;
	padding: 0 5px;
	margin-right: 5px;
}
.pclass {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: darkgray;
}
.email .pclass {
	color: white;
}
.copyright {
	text-align: center;
	font-size: 12px;
	background-color: #252726;
	padding: 10px 0;
}
.github-span {
	display: inline-block;
}
.github-button {
	margin-left: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.github-btn {
	color: white;
	background-color: inherit;
	transition: 0.3s;
	border-radius: 50%;
	border: none;
}
.github-btn:hover {
	color: #252726;
	background-color: white;
	cursor: pointer;
}

@media (max-width: 1060px) {
	.info {
		flex-direction: column;
	}
	.location {
		order: 1
	}
	.phone {
		order: 2
	}
	.email {
		order: 3
	}
	.fa-github {
		font-size: 16px;
	}
}
