
.phone-icon {
	background-image: url("../../assets/pics/phone.png");
}
.email-icon {
	background-image: url("../../assets/pics/email.png");

}
.email-icon, .phone-icon {
	height: 40px;
	width: 40px;
	background-size: contain;
	margin-right: 10px;
}
.phone, .email {
	display: flex;
	align-content: center;
	align-items: center;
	padding: 0 25px;
}


/* FOOTER */
footer {
	background-color: #313332;
	color: white;
	text-align: center;
	display: block;
}
.footer-icon {
	font-size: 25px;
	padding: 0 5px;
}
.info {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 30px 0
}
h1 {
	font-size: 18px;
	font-weight: 400;
}
.copyright {
	text-align: center;
	font-size: 12px;
	background-color: #252726;
	padding: 10px 0;
}
.text-to-left {
	text-align: left;
}
.pclass {
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: darkgray;
}
a {
	color: white;
}


@media (max-width: 1060px) {
	footer p, footer .pclass {
		font-size: 1.2em;
	}
	footer h1 {
		font-size: 1.6em;
	}
	.social button {
		width: 55px;
		height: 55px;
		margin: 27px 7px;
	}
	.icon-btn {
		font-size: 33px;
	}
}
