<section class="section-style" id="projects">
  <div class="container">
    <h1 class="h-style"> {{ currentPack[31] }} </h1>
    <div class="projects-container">
      <div class="project-item">
        <div class="project-item-inner millionaire">
          <div class="project-item-layer">
            <div class="project-meta">
              <p class="project-header"> {{ currentPack[3] }} </p>
              <div class="project-icons">
                <div class="project-icon python" title="{{ currentPack[89] }}"></div>
                <div class="project-icon angular" title="{{ currentPack[90] }}"></div>
              </div>
            </div>
            <div class="project-buttons">
              <a href="https://asia111307.github.io/millionaire_1.0/" target="_blank"><div class="demo">
                <p class="project-p"> {{ currentPack[87] }} </p> <i class="fa fa-play project-i"></i>
              </div></a>
              <a href="https://github.com/asia111307/millionaire_1.0/tree/master" target="_blank"><div class="github">
                <p class="project-p"> {{ currentPack[88] }} </p> <i class="fa fa-github project-i"></i>
              </div></a>
            </div>
          </div>
        </div>
      </div>
      <div class="project-item">
        <div class="project-item-inner tiny-journeys">
          <div class="project-item-layer">
            <div class="project-meta">
              <p class="project-header"> {{ currentPack[93] }} </p>
              <div class="project-icons">
                <div class="project-icon python" title="{{ currentPack[91] }}"></div>
              </div>
            </div>
            <div class="project-buttons">
              <a href="http://jpaliwoda.pythonanywhere.com/" target="_blank"><div class="demo">
                <p class="project-p"> {{ currentPack[87] }} </p> <i class="fa fa-play project-i"></i>
              </div></a>
              <a href="https://github.com/asia111307/tiny_journeys" target="_blank"><div class="github">
                <p class="project-p"> {{ currentPack[88] }} </p> <i class="fa fa-github project-i"></i>
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

