.projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.project-item {
    width: 45%;
    margin-bottom: 50px;
    background-color: rgb(0,0,0);
    opacity: 0;
    transition: all 1s;
}
.project-item-inner {
    background-position: center;
    background-size: cover;
    height: 300px;
    width: auto;
    border: 1px solid lightgrey;
    position: relative;
    box-shadow: 5px 5px 5px lightgrey;

}
.millionaire {
    background-image: url('../../assets/pics/millionaire.png');
}
.tiny-journeys {
    background-image: url('../../assets/pics/tinyjourneys.png');
}
.infokiosks {
    background-image: url('../../assets/pics/infokioski.png');
}
.meta-label {
    top: 0;
    left: 0;
    color: white;
    height: 30px;
    width: 100px;
    font-weight: bold;
    padding: 5px 0;
    position: absolute;
    margin-top: 10px;
    margin-left: -10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-p {
    color: white;
}
.meta-p {
    font-weight: bold;
}
.project-item-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.75);
    justify-content: center;
    align-items: center;
    opacity: 0;
    flex-direction: column;
    position: relative;
    transition: 0.3s;
    display: flex;
}
.project-item-inner:hover .project-item-layer {
    opacity: 1;
}
.project-meta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
.project-header {
    color: white;
    margin: 0;
    width: 100%;
    text-align: center;
}
.project-description {
    padding: 10px 20px;
    text-align: center;
}
.project-icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px 20px 20px;
}
.project-icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin: 5px;
}
.python {
    background-image: url("../../assets/pics/python.png");
}
.angular {
    background-image: url("../../assets/pics/angular.png");
}
.docker {
    background-image: url("../../assets/pics/docker.png");
}
.axure {
    background-image: url("../../assets/pics/axure.jpg");
}
.project-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}
.project-button-item {
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid lightgrey;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-button-item:hover {
    border: transparent;
    cursor: pointer;
}
.project-button-item:hover .project-p {
    display: none;
}
.project-button-item:hover .project-i {
    display: block;
}
.meta-label-dev, .project-button-item-dev:hover {
    background-color: #3B5998;
}
.meta-label-ux, .project-button-item-ux:hover {
    background-color: darkmagenta;
}
.project-i {
    color: white;
    margin: 5px;
    display: none;
}
.fa-more {
    background-image: url("../../assets/pics/more.png");
    background-size: cover;
    background-position: center;
    width: 16px;
    height: 16px;
}

@media (max-width: 1060px) {
    .projects-container {
        flex-direction: column;
    }
    .project-item {
        width: 100%;
        margin-bottom: 40px;
        opacity: 1;
    }
    .project-item-layer {
        display: flex;
        height: 50%;
        opacity: 1;
    }
    .project-item-inner {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .project-p, .project-icons {
        display: none;
    }
    .project-item:hover .project-description {
        display: flex;
    }
    .project-item:hover .meta-label {
        display: none;
    }
    .project-item:hover .project-buttons {
        margin-top: 0;
    }
    .project-item:hover .project-item-layer {
        height: 100%;
    }
    .project-i {
        display: block;
        font-size: 25px;
    }
    .fa-more {
        width: 25px;
        height: 25px;
    }
    .project-button-item {
        width: 120px;
        border-color: transparent;
    }
    .meta-p {
        display: block;
    }
}
