<section class="section-style" id="projects" #projects>
    <div class="container">
        <h1 class="h-style"> {{ currentPack[31] }} </h1>
        <div class="projects-container">

            <div class="project-item">
                <div class="project-item-inner millionaire">
                    <div class="meta-label meta-label-dev">
                        <p class="p-style project-p meta-p"> DEV </p>
                    </div>
                    <div class="project-item-layer">
                        <div class="project-meta">
                            <p class="p-style project-header p-big"> {{ currentPack[3] }} </p>
                            <p class="p-style project-p project-description"> {{ currentPack[5] }} </p>
                            <div class="project-icons">
                                <div class="project-icon python" title="{{ currentPack[89] }}"></div>
                                <div class="project-icon angular" title="{{ currentPack[90] }}"></div>
                                <div class="project-icon docker" title="{{ currentPack[94] }}"></div>
                            </div>
                        </div>
                        <div class="project-buttons">
                            <a href="https://asia111307.github.io/millionaire_1.0/" target="_blank">
                                <div class="project-button-item project-button-item-dev">
                                    <p class="p-style project-p"> {{ currentPack[87] }} </p>
                                    <i class="fa fa-play project-i"></i>
                                </div>
                            </a>
                            <a href="https://github.com/asia111307/millionaire_1.0/tree/master" target="_blank">
                                <div class="project-button-item project-button-item-dev">
                                    <p class="p-style project-p"> {{ currentPack[88] }} </p>
                                    <i class="fa fa-github project-i"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-item">
                <div class="project-item-inner tiny-journeys">
                    <div class="meta-label meta-label-dev">
                        <p class="p-style project-p meta-p"> DEV </p>
                    </div>
                    <div class="project-item-layer">
                        <div class="project-meta">
                            <p class="p-style project-header p-big"> {{ currentPack[93] }} </p>
                            <p class="p-style project-p project-description"> {{ currentPack[7] }} </p>
                            <div class="project-icons">
                                <div class="project-icon python" title="{{ currentPack[91] }}"></div>
                                <div class="project-icon docker" title="{{ currentPack[94] }}"></div>
                            </div>
                        </div>
                        <div class="project-buttons">
                            <a href="http://jpaliwoda.pythonanywhere.com/" target="_blank">
                                <div class="project-button-item project-button-item-dev">
                                    <p class="p-style project-p"> {{ currentPack[87] }} </p>
                                    <i class="fa fa-play project-i"></i>
                                </div>
                            </a>
                            <a href="https://github.com/asia111307/tiny_journeys" target="_blank">
                                <div class="project-button-item project-button-item-dev">
                                    <p class="p-style project-p"> {{ currentPack[88] }} </p>
                                    <i class="fa fa-github project-i"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="project-item">
                <div class="project-item-inner infokiosks">
                    <div class="meta-label meta-label-ux">
                        <p class="p-style project-p meta-p"> UX </p>
                    </div>
                    <div class="project-item-layer">
                        <div class="project-meta">
                            <p class="p-style project-header p-big"> {{ currentPack[37] }} </p>
                            <p class="p-style project-p project-description"> {{ currentPack[42] }} </p>
                            <div class="project-icons">
                                <div class="project-icon axure" title="{{ currentPack[96] }}"></div>
                            </div>
                        </div>
                        <div class="project-buttons">
                            <a href="https://bflods.axshare.com/home.html" target="_blank">
                                <div class="project-button-item project-button-item-ux">
                                    <p class="p-style project-p"> {{ currentPack[87] }} </p>
                                    <i class="fa fa-play project-i"></i>
                                </div>
                            </a>
                            <!--<a routerLink="/ux" [ngx-scroll-to]="'#site-top'">-->
                                <!--<div class="project-button-item project-button-item-ux">-->
                                    <!--<p class="p-style project-p"> {{ currentPack[95] }} </p>-->
                                    <!--<div class="fa-more project-i"></div>-->
                                <!--</div>-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

